.header {
  height: var(--header-height);
  position: fixed;
  width: 100%;
  background-color: var(--header-background-color);
  z-index: 100;
}

.container {
  height: 100%;
}

.row {
  height: 100%;
}

.search-wrapper {
  display: flex;
  align-items: center;
}
