.section {
  margin-top: 40px;
  font-size: 25px;
  font-weight: 400;
  border-bottom: 1px var(--border-color) solid;
  padding-bottom: 7px;
  padding-top: 10px;
  scroll-margin-top: var(--header-height);
}
